html,
#root,
main {
  height: 100vh;
}

* {
  text-shadow: 0 0 10px rgba(95, 78, 155, 0.8);
}

.three_canvas {
  width: 200px;
  height: 200px;
}

.main_block {
  background-color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.header {
  font-weight: bold;
  text-align: center;
}

.content {
  color: #d9cfff;
  position: absolute;
  top: calc(100% - 40vh);
  /* width: 100%; */
  display: flex;
  flex-direction: column;
  justify-content: center;
}
